p, table, td, th, body {
	font-family: arial, helvetica, geneva, sans-serif;
	font-size: 10pt
}

h1 {
	background-color: #0080C0;
	color: white;
	font-size: 10pt;
	font-weight: bold;
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 2px;
	margin-top: 12pt;
}

h2 {
	color: #0080C0;
	font-size: 9pt;
	font-weight: bold;
}

h3 {
	color: #0080C0;
	font-size: 9pt;
}

.head {
	font-size: x-large;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.subhead {
	font-size: large;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #8080FF;
}

.arrow-list dt
{
	padding-bottom: 6pt;
}
.arrow-list dd
{
	padding-bottom: 9pt;
}

/* FAQ styles */

.q {
	font-weight: bold;
}
.ans {
	padding-left: 24pt;
}

/* Simple table */

.simple-table
{
	border: 1pt ridge silver;
	border-collapse: collapse;
	margin: 10pt;
}

.simple-table td, .simple-table th
{
	border: 1pt ridge silver;
	padding: 5pt;
}

.simple-table thead
{
	font-weight: bold;
}

pre, code {
	font-family: "Courier New", Courier, mono;
	font-size: 10pt;
}

.code-block {
	font-family: "Courier New", Courier, mono;
	font-size: 10pt;
	background-color: #E0E0E0;
	padding-top: 4pt;
	padding-bottom: 4pt;
	padding-left: 2pt;
	padding-right: 2pt;
	margin-right: 0.5in;
}

.caution {
	color: #000040;
	background-color: #E0E0E0;
	padding-top: 4pt;
	padding-bottom: 4pt;
	padding-left: 4pt;
	padding-right: 2pt;
	margin-left: 4pt;
	margin-right: 4pt;
}

.caution-head {
	font-weight: bold;
}


