/* BIRT styles. Derived from Eclipse styles, adjusted for use outside of frames.
*/

/* What is this for? */

/*
.input {background: "#ffffcc";color: "#000000" ;font-weight: normal;}
*/

/* From nav_style.css */

/* Style for other items in the left-hand menu. */

a.nav:link { text-decoration: none; color: black; }
a.nav:visited { text-decoration: none; color: black; }
a.nav:hover { text-decoration: underline; color: black; }

a.birt:link { text-decoration: none; color: white; }
a.birt:visited { text-decoration: none; color: white; }
a.birt:hover { text-decoration: underline; color: white; }

/* Standard styles. From default_style.css */

body {
	font-family: arial, helvetica, geneva;
	font-size: 10pt;
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
}

table {
	font-size: 10pt;
}

.bullet {
	font-size: 9pt;
}

ul {
	padding-left: 20pt;
}

li {
	padding-bottom: 3pt;
}

/* For notes about specific limitations an other cautions. */

.caution {
	color: #000040;
	background-color: #E0E0E0;
	padding-top: 4pt;
	padding-bottom: 4pt;
	padding-left: 4pt;
	padding-right: 2pt;
	margin-left: 4pt;
	margin-right: 4pt;
}

.caution-head {
	font-weight: bold;
}

.content > p {
	margin-left: 4pt;
	margin-right: 4pt;
}

/* Left-hand navigation menu styles. */

.navhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: white;
	font-weight: bold;
}

a.navhead:link { text-decoration: none; color: white; }
a.navhead:visited { text-decoration: none; color: white; }
a.navhead:hover { text-decoration: underline; color: white; }

.menu-table {
	background-color: #90C8FF;
	font-size: 10pt
}

.menu-table td
{
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 7px;
	border-bottom: solid 1px #CFFFFF;
	vertical-align: center;
}

/* Note: padding must be repeated in HTML (at least for FireFox) because it
   does not take effect from the style. */

.top-menu-cell
{
	padding-top: 3px;
	padding-bottom: 4px;
	background-color: #0080C0;
	border-bottom: solid 1px #CFFFFF;
}

.menu-area {
	color: black;
	background-color: #6699CC;
}

.banner-area {
	background-color: #006699;
}

pre, code {
	font-family: "Courier New", Courier, mono;
	font-size: 10pt;
}

.code-block {
	font-family: "Courier New", Courier, mono;
	font-size: 10pt;
	background-color: #E0E0E0;
	padding-top: 4pt;
	padding-bottom: 4pt;
	padding-left: 2pt;
	padding-right: 2pt;
	margin-right: 0.5in;
}

h1 {
	background-color: #0080C0;
	color: white;
	font-size: 10pt;
	font-weight: bold;
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 2px;
	margin-top: 12pt;
}

h2 {
	color: #0080C0;
	font-size: 9pt;
	font-weight: bold;
}

h3 {
	color: #0080C0;
	font-size: 9pt;
}

dt {
	padding-bottom: 6pt;
}

dd {
	padding-bottom: 10pt;
}

.indextop {
	font-size: x-large;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.indexsub {
	font-size: large;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #8080FF;
}

a.bar { color: white }
a.bar:link { color: white; text-decoration: none; }
a.bar:visited {color: white; text-decoration: none; }
a.bar:hover { color: white; text-decoration: underline; }


.jump {
	font-size: smaller;
	color: #8080FF;
	text-decoration: none;
}

a.jump:visited {
	color: #8080FF; 
	text-decoration: none; 
}

a.jump:link {
	color: #8080FF;
	text-decoration: none; 
}

a.jump:hover { 
	color: blue; 
	text-decoration: underline; 
}

.toc { 
	font-size: small; 
	color: #8080FF; 
	text-decoration: none; 
}
a.toc:visited { 
	color: #8080FF; 
	text-decoration: none; 
}

a.toc:link { 
	color: #8080FF; 
	text-decoration: none; 
}

a.toc:hover { 
	color: blue; 
	text-decoration: underline; 
}


