<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>BIRT Wiki</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="<?= $pageAuthor ?>" />
	<meta name="keywords" content="<?= $pageKeywords ?>" />
	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/themes/Phoenix/css/visual.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/themes/Phoenix/css/layout.css" media="screen" />
	<?php if( isset($extraHtmlHeaders) ) echo $extraHtmlHeaders; ?>

</head>
<body>
<div id="header">
	<a href="/"><img src="/eclipse.org-common/themes/Phoenix/images/header_logo.gif" width="163" height="68" border="0" alt="Eclipse Logo" class="logo" /></a>
	<div id="searchbar">
		<img src="/eclipse.org-common/themes/Phoenix/images/searchbar_transition.gif" width="92" height="26" class="transition" alt="" />
		<img src="/eclipse.org-common/themes/Phoenix/images/searchbar_header.gif" width="64" height="17" class="header" alt="Search" />
		<form method="get" action="/search/search.cgi">
			<input type="hidden" name="t" value="All" />
			<input type="hidden" name="t" value="Doc" />
			<input type="hidden" name="t" value="Downloads" />
			<input type="hidden" name="wf" value="574a74" />
			<input type="text" name="q" value="" />
			<input type="image" class="button" src="/eclipse.org-common/themes/Phoenix/images/searchbar_submit.gif" alt="Submit" onclick="this.submit();" />
		</form>
	</div>
	<ul id="headernav">
		<li class="first"><a href="/org/foundation/contact.php">Contact</a></li>
		<li><a href="/legal/">Legal</a></li>
	</ul>
</div>

<!--/PageHeaderFmt-->
  <table id='wikimid' width='100%' cellspacing='0' cellpadding='0'><tr>
<!--PageLeftFmt-->
      <td id='wikileft' style="font-size: 10pt"  width='20%' valign='top'>
        <!--wiki:$Group.SideBar Main.SideBar--></td>

<!--/PageLeftFmt-->
      <td id='wikibody' valign='top'>
<!--PageTitleFmt-->
		<div style="padding-bottom: 10px">
        <table width='100%' cellspacing='0' cellpadding='0' border='0'><tr>
        <td id='wikititle'>
          <div class='pagegroup'><a href='$ScriptUrl/$Group'>$Group</a> /</div>
          <div class='pagetitle'><a href='$PageUrl'>$Title</a></div></td>
        </tr></table></div>
<!--PageText-->
      </td>
    </tr></table>
<!--PageFooterFmt-->
  <div id='wikifoot'>
    <div class='footnav'>
      <a href='$PageUrl?action=edit'>$[Edit Page]</a> |
      <a href='$PageUrl?action=diff'>$[Page History]</a> |
      <a href='$PageUrl?action=print' target='_blank'>$[Printable View]</a> |
      <a href='$ScriptUrl/$[$Group/RecentChanges]'>$[Recent Changes]</a> |
      <a href='$ScriptUrl/$[PmWiki/WikiHelp]'>$[Wiki Help]</a> |
      <a href='$ScriptUrl/$[Main/SearchWiki]'>$[Search Wiki]</a></div>
    <div class='lastmod'>$[Page last modified on $LastModified]</div></div>
<!--/PageFooterFmt-->


<div id="footer">
	<ul id="footernav">
		<li class="first"><a href="/">Home</a></li>
		<li><a href="/legal/privacy.php">Privacy Policy</a></li>
		<li><a href="/legal/termsofuse.php">Terms of Use</a></li>
	</ul>
	<p>Copyright &copy; 2005 The Eclipse Foundation. All Rights Reserved</p>
</div>
</body>
</html>