<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>$WikiTitle | $Group / $Title $Action</title>
  <link rel='stylesheet' href='$SkinDirUrl/pmwiki.css' type='text/css' />
  <!--HeaderText-->
</head>
<body>
<!--PageHeaderFmt-->

<table BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class="banner-area" >
<tr>
<td BGCOLOR="black" width="116" >
<a href="http://www.eclipse.org">
<img src="$PageLogoUrl" border="0">
</a>
</td>
<td WIDTH="637">
<img SRC="/birt/images/gradient.jpg" BORDER=0 height="53" width=282>
</td>
<td WIDTH="250" align="right" valign="center">
<span style="color: #E8E8FF; font-family: arial, sans-serif;
      font-size: 18px; font-weight: bold; padding-right: 20pt">
<a href="/birt" class="birt">BIRT</span></a><br>
<span style="color: #E8E8FF; font-family: arial, sans-serif;
      font-size: 12px; font-weight: bold; padding-right: 20pt">
Project Wiki
</span>
</td>
</tr>
</table>

<!--/PageHeaderFmt-->
  <table id='wikimid' width='100%' cellspacing='0' cellpadding='0'><tr>
<!--PageLeftFmt-->
      <td id='wikileft' valign='top'>
        <!--wiki:$Group.SideBar Main.SideBar--></td>

<!--/PageLeftFmt-->
      <td id='wikibody' valign='top'>
<!--PageTitleFmt-->
		<div style="padding-bottom: 10px">
        <table width='100%' cellspacing='0' cellpadding='0' border='0'><tr>
        <td id='wikititle'>
          <div class='pagegroup'><a href='$ScriptUrl/$Group'>$Group</a> /</div>
          <div class='pagetitle'><a href='$PageUrl'>$Title</a></div></td>
        <td style="text-align: right;">
        <img src="/birt/images/Idea.jpg"></td>
        </tr></table></div>
<!--PageText-->
      </td>
    </tr></table>
<!--PageFooterFmt-->
  <div id='wikifoot'>
    <div class='footnav'>
      <a href='$PageUrl?action=edit'>$[Edit Page]</a> |
      <a href='$PageUrl?action=diff'>$[Page History]</a> |
      <a href='$PageUrl?action=print' target='_blank'>$[Printable View]</a> |
      <a href='$ScriptUrl/$[$Group/RecentChanges]'>$[Recent Changes]</a> |
      <a href='$ScriptUrl/$[PmWiki/WikiHelp]'>$[Wiki Help]</a> |
      <a href='$ScriptUrl/$[Main/SearchWiki]'>$[Search Wiki]</a></div>
    <div class='lastmod'>$[Page last modified on $LastModified]</div></div>
<!--/PageFooterFmt-->
</body>
</html>
